<style>
  body{
  background-color: #F7F8E0;
  }
  a {
    color: black;
    text-decoration: none;

  }
  h1 {
    text-align:center ;
    font-size: 80px;
    color: black;
    margin:10px;
    color: gray;
    font-family: "jua";
  }
  h2{
    text-align: center;
    font-family: "jua";
  }

  .textbox {
    font-family: "jua";
  }
  #TopMenu {
    height: 30px;
    width: 2000px;


  }
  #TopMenu ol li {
    list-style: none;
    float: left;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
  }
  #TopMenu .Menulink {
    text-decoration:none;
    text-color: white;
    display: block;
    width: 500px;
    font-size: 15px;
    font-weight: bold;
    font-family: "jua";
    padding-left: 100px;

  }
  #TopMenu .Menulink:hover {
    background-color: #F8E0F7;
    color: white;
  }

  #MiddleMenu .Menulink2 {
    text-decoration:none;
    width: 200px;

  }
  <!--폰트부분-->
@font-face {
  src: url("../Fonts/jua-Regular.ttf");
  font-family: "jua";
}

  .URINURI_Introduce{
    display: inline;
    position: absolute;
    top :280px;
    left: 600px;
    width: 800px;

  }

</style>
