<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/index.css">
    <title>우리누리</title>
  </head>

<!-- 상단 메뉴바 -->
<body>
  <header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff; padding-left: 200px; padding-right: 200px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"><img src="static/image/LOGO2.png" alt="우리누리" width="180px" height="100%" class="d-inline-block align-text-top"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/" style="margin-right:100px;font-size:20px;">Home</a>
          <a class="nav-link" href="/search" style="margin-right:100px;font-size:20px;">Search</a>
          <a class="nav-link" href="/calendar" style="margin-right:100px; font-size:20px;">Calendar</a>
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" style="margin-right:100px;font-size:20px;">FAQs</a> <!--이부분 선택못하게 막기-->
          <a class="nav-link" aria-current="page" href="/about" style="margin-right:100px; font-size:20px;">About</a>
        </div>
      </div>
    </div>
  </nav>
  </header>

<!--상단 고정메뉴바 끝-->

<main class="container">

  <div class="row_2">
    <div class="p-4 p-md-5 mb-4 text-white rounded" style="border:1px solid #ffd3d7;">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fw-bold fst-italic" style="color:#ffd3d7">우리누리란?</h1>
          <p class="lead my-3" style="color:#ffd3d7">우리 모두 함께 누리자라는 의미에서 시작된 순우리말로 우리 모두 축제와 같이 즐거운 것을 누리자라는 의미에서 파생되었습니다.</p>
          <p class="lead mb-0"><a href="#" class="fw-bold" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="color:#ffd3d7">Continue reading...</a></p>
          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-secondary" id="staticBackdropLabel ">우리누리의 더 많은 이야기.</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="text-secondary">더 많은 전국의 축제들과 더 많은 날짜의 일정들로 우리누리가 돌아오도록 하겠습니다.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="ab_row">
    <div class="p-5 mb-4 rounded-3" style="background-color:#c5d6db">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-white">다양한 축제를 제공합니다.</h1>
          <p class="col-md-8 fs-4 text-white">코로나로 인해 꽉막힌 삶에 축제 정보를 제공하여 여러분들과 함께 즐기며 또, 모르고 넘어갈 수도 있는 지역 축제와 같은 정보를 제공하여 드립니다.</p>
          <p><a class="btn btn-outline-light" href="/calendar" style="text-decoration:none; margin-top:10px;">스케쥴 확인하기</a></p>
      </div>
    </div>
  </div>
  <div class="row_1">
    <div class="p-5 mb-4 rounded-3" style="background-color:#ffd3d7">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-white">원하는 축제를 검색하여 찾아갈 수 있습니다.</h1>
          <p class="col-md-8 fs-4 text-white">사용자가 원하는 지역, 날짜에 맞춰 검색할 수 있도록 우리누리에서 제공하며 이를 통해 여러분들이 원하시는 축제에 한 발 더 가까이 갈 수 있게 하였습니다.</p>
          <p><a class="btn btn-outline-light" href="/search" style="text-decoration:none; margin-top:10px;">축제일정 확인하기</a></p>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class ="sangmyungunivercity p-6 mb-4 rounded-3" >
    <h1 class="fw-bold">우리누리의 상명대학교 위치</h1>

    <iframe class="rounded-3" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12643.918592241042!2d126.955252!3d37.602638!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8da4671836a7efc8!2z7IOB66qF64yA7ZWZ6rWQIOyEnOyauOy6oO2NvOyKpA!5e0!3m2!1sko!2skr!4v1628174268018!5m2!1sko!2skr" width="100%" height="500px" style="border:0; " allowfullscreen="" loading="lazy"></iframe>
    <p class="lead my-3"style="color:#353c41; font-size:15px;">😎우리누리와 연락을 원하시는분들은 상명대학교 컴퓨터공학과로 연락주세요!</p>
  </div>
  <hr class="featurette-divider">
</main>


<footer id="footer-wrap">
<!--페이지 하단부의 우리누리에 관한 정보 시작-->
  <div id=footer class="container"></div>
  <div class="copyright">
    <div class="container" style="padding-top:50px;">
      <div id = "footer"class="row">
        <div class="col-md-12 col-sm-12">
          <p>© 2021 All Rights Reserved. <a href="/">우리누리 링크 </a>&nbsp;|&nbsp;
            <a href="/terms">서비스 약관</a>&nbsp;|&nbsp;
            <a href="/privacy">개인정보 보호</a>&nbsp;|&nbsp;
            <a href="/terms/payment">결제 이용 약관</a>&nbsp;|&nbsp;
            <a href="mailto:00000@smu.ac.kr">도움말</a>&nbsp;|&nbsp;
            <a href="mailto:00000@smu.ac.kr">광고 문의</a>&nbsp;|&nbsp;
            <a href="mailto:00000@smu.ac.kr">업데이트 노트</a>&nbsp;|&nbsp;
            <a href="mailto:00000@smu.ac.kr">이슈</a>&nbsp;|&nbsp;
            <a href="mailto:00000@smu.ac.kr">TODO</a>
          </p>
          </div>
          </div>
          <div id =footer class="row">
            <div class="col-sm-12">
              <a href="/" class="hidden-xs" style="width:30%; float:right;"><img src="static\image\URINURILOGO4.png" class="pull-right startlink-logo"></a>
              <ul class="list-unstyled simple-list" style="width:70%; float:left; margin-top:50px;" >
                <li>사업자 등록 번호: 000-00-00000</li>
                <li>대표자명: 우리누리</li>
                <li>주소: 서울특별시 종로구 홍지동 홍지문2길 20</li>
                <li>전화번호: 02-000-0000 (이메일로 연락 주세요)</li>
                <li>이메일: <a href="mailto:00000@smu.ac.kr">OOOO0@smu.ac.kr</a></li>
                <li>통신판매신고번호: 제 0000-0000-0000 호</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
        <p id="no-acm-icpc">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;이 사이트는 상명대학교 컴퓨터과학 캡스톤 디자인을 위해 만들어졌으며 어떠한 금전적 대가도 받지 않고 있습니다.
        </p>
      </div>
</footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

  </body>
</html>
